{% extends 'blog/base.html' %}

{% block title %}
    We Share
{% endblock %}

{% block content %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="date">
            Published {{ post.publish }}
        </p>
        <p>
            Author: {{ post.author }}
        </p>
        <p>
            {{ post.body|truncatewords:30|linebreaks }}
        </p>
    {% endfor %}
    {% include 'pagination.html' with page=page_obj %}
{% endblock %}